<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <button routerLink="/criarPensamento" class="botao">
      Adicionar pensamento
    </button>
  </header>
  <!-- se houver itens cadastrados em listaPensamentos, então renderiza os elementos... -->
  <div class="mural" *ngIf="listaPensamentos.length > 0; else semPensamentos">
    <!-- renderização dinâmica com ngFor (diretiva estrutural: que modifica elementos no html) -->
    <div *ngFor="let pensamento of listaPensamentos">
      <!-- usar property binding pra puxar os dados de app-pensamento.
      A prop é o nome dado no componente pai (listarPensamento)
      O valor é a let acima -->
      <app-pensamento [pensamento]="pensamento"></app-pensamento>
    </div>
  </div>
</section>
<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados!</p>
  </div>
</ng-template>
